name: Build Release (FIXED PATH)

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main

jobs:
  build:
    name: Build Signed APK
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Siapkan Java (JDK 17)
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      # PERBAIKAN DISINI: 
      # Menambahkan 'app/' agar file masuk ke folder yang benar
      - name: Decode Keystore dari Secret
        run: |
          echo "${{ secrets.SIGNING_KEY }}" | base64 -d > app/release.keystore

      - name: Izinkan Gradle
        run: chmod +x gradlew

      - name: Mulai Proses Build
        run: ./gradlew assembleRelease
        env:
          # Karena file sudah ada di dalam folder app, kita panggil namanya saja
          KEYSTORE_PATH: release.keystore
          ALIAS: ${{ secrets.ALIAS }}
          KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

      - name: Upload APK ke GitHub
        uses: actions/upload-artifact@v4
        with:
          name: AdiXtream-Release
          path: app/build/outputs/apk/release/*.apk
