name: Build Release (FINAL FIX)

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main

jobs:
  build:
    name: Build Signed APK
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Penting agar fungsi getGitCommitHash() di gradle tidak error

      - name: Siapkan Java (JDK 17)
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Decode Keystore dari Secret
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
        run: |
          # Kita taruh di root project agar gampang diakses
          echo "$SIGNING_KEY" | base64 --decode > release.keystore

      - name: Izinkan Gradle
        run: chmod +x gradlew

      - name: Mulai Proses Build
        run: ./gradlew assembleStableRelease
        env:
          # Variabel ini HARUS pas dengan System.getenv() di build.gradle kamu
          KEYSTORE_PATH: ../release.keystore
          ALIAS: ${{ secrets.ALIAS }}
          KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

      - name: Upload APK ke GitHub
        uses: actions/upload-artifact@v4
        with:
          name: AdiXtream-Release
          path: app/build/outputs/apk/stable/release/*.apk
